.label-main-menu {
    font-size: 70px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(201, 211, 255, 255);
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 42px;
    margin-bottom: 42px;
}
