.label-main-menu {
    font-size: 70px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(158, 235, 174);
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 42px;
    margin-bottom: 42px;
    -unity-font: none;
    -unity-font-style: bold;
    letter-spacing: 13px;
}
